.album-card {
    padding: 5px;
}

.artwork-xs {
    padding: 2px;
    height: 60px;
    width: 60px;
}


.artwork-small {
    padding: 2px;
    height: 150px;
    width: 150px;
}


.navigation-bar {
    position: fixed;
    width: 100%;
}

.top-always {
    position: fixed;
    height: 260px;
    top: 70px;
}

/* TODO: avoid overlapping*/
.scroll-section {
    position: absolute;
    top: 260px;
    width: 100%;
    overflow-y: scroll;
    height: 100%;
}
